application.properties
application-dev.properties
application-prod.properties
application-test.properties
*.log
*.tmp
target/

# Local env containing secrets (do not commit)
.env
.env.*
.secrets

# Keystores
*.p12
certs/

